@tailwind base;
@tailwind components;
@tailwind utilities;

.videos {
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minMax(300px, 1fr));
  justify-content: space-between;
}
